.gradle/
build/
*.tar
jamepad/
natives/
jamepad-android/*.so
jamepad-android/*.cpp
fmod-jni/
fmod-android/*.so
fmod-android/stubs/
fmod-android/logging/
fmod-android/fmod_wrap_android.c
fmod-android/loader/out/
fmod-android/*.jar
dlcagent/out/
dlcagent/*.jar
.DS_Store
/app_pojavlauncher/
